@import url(https://fonts.googleapis.com/css2?family=Montserrat);

html {
  scroll-behavior: smooth;
}
element {
  background: url(https://rapatar.eu.org/cord.jpg) top right/700px 125px no-repeat;
}
body {
    margin: 60px auto;
    width: 70%;
}

.responsive {
  <!-- use this image tag for responsive images
  <img src="img_nature.jpg" alt="Nature" class="responsive" width="600" height="200">
  -->
  width: 100%;
  max-width: 400px; <!-- change width as per image requirenments-->
  height: auto;
}
nav ul, footer ul {
    font-family:'Montserrat';
    font-size: 26;
    padding: 20px;
    list-style: none;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
div {font-family:'Montserrat'
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Montserrat';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
