<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="https://rapatar.eu.org/favicon.ico">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</head>
		<body>
			<nav>
				<ul>
				  <li><a href="https://rapatar.eu.org/">Главная</a></li>
					<li><a href="https://rapatar.eu.org/toc">Содержание</a></li>
					<li><a href="https://rapatar.eu.org/about">Об авторе</a></li>
				</ul>
			</nav>


			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    	<ul>
	        <li><a href="mailto:rapatar@gmail.com">email</a></li>
					<li><a href="https://t.me/rapatar">telegram</a></li
	        <li><a href="https://rapatar.eu.org/feed.xml">RSS</a></li>
				</ul>
			</footer>
		</body>
	</html>
